.out div {
  position: relative;
  border-radius: 50%;
  border: 5px solid black;
}

.eye1 {
  top: 80px;
  left: 40px;
  width: 8px;
  height: 8px;
  z-index: 3;
  background-color: black;
}

.eye2 {
  top: 60px;
  left: 40px;
  width: 20px;
  height: 20px;
  z-index: 3;
}

.circle1 {
  top: 20px;
  left: 20px;
  background-color: red;
  z-index: 1;
  width: 100px;
  height: 100px;
}

.circle2 {
  top: -50px;
  left: 60px;
  background-color: yellow;
  z-index: 2;
  width: 100px;
  height: 100px;
}

.circle3 {
  top: -80px;
  left: 100px;
  background-color: orange;
  z-index: 1;
  width: 100px;
  height: 100px;
}

.circle4 {
  top: -150px;
  left: 140px;
  background-color: green;
  z-index: 2;
  width: 100px;
  height: 100px;
}

.circle5 {
  top: -210px;
  left: 180px;
  background-color: blue;
  z-index: 1;
  width: 100px;
  height: 100px;
}
