.App {
  max-width: 800px;
  /* 중앙 정렬 */
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 2em;
}

main {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}
