.container {
  display: grid;
  grid-template-columns: repeat(2, 100px 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 15px;
}

.item {
  background-color: burlywood;
  font-size: 15px;
  color: white;
  text-align: center;
  align-content: center;
}

.item1 {
  /* 1번 라인부터 3번 라인까지 */
  /* grid-column: 1 / 3; */
  /* 2개 열 차지 */
  grid-column: span 2;

  /* grid-row: 1 / 3; */
  grid-row: span 2;
}

.item2 {
  grid-column: span 2;
}

.item3 {
  grid-column: span 2;
}

.item4 {
  grid-column: span 2;
}

.item5 {
  grid-column: span 2;
}
