/* CSS 박스 모델 */
/*
    Content : 실제 내용 (텍스트, 이미지)
    Padding : 내용과 테두리 사이 안쪽 여백
    Border : 테두리
    Margin : 요소 외부 바깥 여백
*/

.box {
  background-color: rgb(185, 28, 80);
  /* 절대 단위 */
  width: 200px; /* 픽셀 */
  height: 200px;

  /* 상대 단위 */
  width: 50%; /* 부모의 50% */
  width: 25%; /* 부모의 25% */

  /* 뷰 포트 기준 */
  width: 50vw; /* 뷰포트 너비의 50% */
  width: 100vh; /* 뷰포트 높이의 100% */

  /* Padding (여백) */
  /* 네 방향 개별 지정*/
  padding: 30px;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 40px;
  /* 4개 값 : 상 우 하 좌 (시계방향) */
  padding: 1px 2px 3px 4px;

  /* 3개 값 : 상 좌우 하*/
  padding: 11px 22px 33px;

  /* 2개 값 : 상하 좌우*/
  padding: 15px 25px;

  /* Margin (바깥 여백) */
  margin: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;

  /* 4개 값 : 상 우 하 좌 (시계방향) */
  margin: 1px 2px 3px 4px;

  /* 3개 값 : 상 좌우 하*/
  margin: 11px 22px 33px;

  /* 2개 값 : 상하 좌우*/
  margin: 15px 25px;

  /*border (테두리)*/
  border-width: 4px;
  border-style: dotted;
  border-color: red;
  /* 단축 속성 */
  border: 1px solid black;
  border-radius: 10px;
}

.circle {
  border-radius: 50%;
  background-color: #eee;
  width: 100px;
  height: 100px;
}

.custom {
  border-radius: 10px 20px 30px 40px;
  background-color: #8f235c;
  width: 100px;
  height: 100px;
}

/* 마진 상쇄 */
/* Margin 병합 (Margin collapse) */
/* 세로 방향 마진은 병합됩니다. */
