td {
  border: 1px solid black;
}

td:first-child {
  color: chocolate;
}

tr:nth-child(even) {
  background-color: yellow;
}

tr:first-child {
  font-weight: bold;
}

tr:last-child > td {
  border: none;
}

tr:hover {
  color: red;
}
