.box {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid black;
}
.box1 {
  background-color: red;
}
.box2 {
  top: -40px;
  left: 50px;
  background-color: yellow;
  z-index: 1;
}
.box3 {
  top: -70px;
  left: 100px;
  background-color: orange;
}
.box4 {
  top: -200px;
  left: 170px;
  background-color: green;
  z-index: 1;
}
.box5 {
  top: -280px;
  left: 240px;
  background-color: blue;
}
