/* CSS 기본 문법 */
/*
선택자 {
    속성 : 값;
    속성 : 값;
}
*/

h1 {
  color: navy;
}

p {
  color: blue;
  font-size: 16px;
  font-weight: bold;
}

/*
    선택자(selector) - (p) - 스타일을 적용할 요소
    속성(Property) - color, font-size - 변경할 스타일
    값(Value) - blue, 16px - 적용할 값
    선언(Declaration) - color:blue; - 속성과 값의 쌍
*/

/* 기본 선택자 */
/* 요소 선택자 (Type Selector) */
h1 {
  color: aqua;
}

p {
  font-size: 16px;
}

/* 클래스 선택자 (Class Selector) */
/* <div class="highlight box">강조된 텍스트</div> */
/*
    특징
    .으로 시작
    여러 요소에 재사용 가능
    한 요소에 여러 클래스 적용 가능
*/
.highlight {
  background-color: darkblue;
  font-weight: bold;
}

.box {
  color: white;
}

/* ID 선택자 (ID Selector) */
/* <div id="header">헤더</div> */
/*
    특징
    #으로 시작
    페이지에서 한번만 사용
    클래스보다 우선순위가 높음
*/

#header {
  font-size: 64px;
}
